/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#000000;   /* background color */
	color: #444;          /* text color for the entire page */
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

.header{
	text-align:center;
}

.nav {
	text-align: center;
}

h1, h2 {
/*	text-align:right;     /* centers h1 and h2 content */
	color: #EE700A;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:1000px;
	margin:0 auto;    /* centers wrapper */
}



/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:5px;
	text-align:left;
	font-size:16px;
	background-color:#EE700A
 }

.stepContent{
	background-color: #C9C9C9;
	padding:16px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
	background: black;
}

.stepImage {border-radius: 20px;
box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

	width:40%;
	padding:5px;
	text-align: center;
}

a {
    padding: 15px;
		margin: 3px;
    background-color: #000000;
    color: #EE700A;
}

.current {
	text-decoration: none;
}

a:hover {
    background-color: #000000;
    color: #EE700A;
		text-decoration: none;
}

p {
	font-size: 30px;
	color: aliceblue;
}