/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#000000;   /* background color */
	color: #444;          /* text color for the entire page */
	font-size: 12px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}

h1, h2 { 
	text-align: center;
	color: #EE700A;
}

#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

.stepTitle{
	padding:5px;
	text-align:left;
	font-size:16px;
	background-color:#EE700A
 }

.stepContent{ 
	background-color: #C9C9C9;
	padding:16px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {border-radius: 20px;
box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

	width:40%;	
	padding:5px;
	text-align: center;
}

a {
    padding: 15px;
margin: 3px;
    font-size: 125%;
    background-color: #000000; 
    color: #EE700A; 
}

a:hover {
    font-size:200%;
    background-color: #000000; 
    color: #EE700A; 
}

.choices {
cursor: pointer;
}

img {
  border: 5px solid #EE700A;;
}